.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  background-color: #232946;

  .logo-app {
    font-weight: 500;
    margin: 0px;
    text-transform: uppercase;
    color: #fffffe;
  }

  .link-wrapper {
    margin-right: 10px;
    width: 20%;
    display: flex;
    justify-content: space-around;
  }
}
